<!DOCTYPE html>
<html>
    <head>
        <title>Textutils</title>
        <!-- CSS only -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#">Textutils</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
              
            </div>
          </nav>
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Textutils!</strong> Enter your text and see the magic.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="container"> 
       
        <form action="/analyze" method="POST">{% csrf_token %}
            <div class="form-group">
               <h1 class="ml3 chk"><label for="exampleFormControlTextarea1">ENTER YOUR TEXT BELOW.</label></h1> 
                <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="9"></textarea>
              </div>
            <br>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" name="removepunc" id="customSwitches">
                <label class="custom-control-label"  for="customSwitches">Remove Punctuations</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" name="capitalize" id="customSwitches1">
                <label class="custom-control-label"  for="customSwitches1">CAPITALIZE</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" name="Extre Space Remover" id="customSwitches2">
                <label class="custom-control-label"  for="customSwitches2">Extra Space Remover</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" name="newline" id="customSwitches3">
                <label class="custom-control-label"  for="customSwitches3">Enter new line after "."</label>
              </div>
              <br>
              <button type="submit" class="btn btn-outline-primary">Analyze Text</button>
        </form>
    </div> 
    
 <footer>
   <div class="foot">
     <h3>&copy 2020 - Textutils</h3>
   </div>
 </footer>
    <style>
      .chk{
       color: rgb(104, 180, 243);
      }
      .foot{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        background-color: rgba(137, 196, 244, 1);
      }
         
      </style>
      
      <script>
        var textWrapper = document.querySelector('.ml3');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
          anime.timeline({loop: true})
          .add({
            targets: '.ml3 .letter',
            opacity: [0,1],
            easing: "easeInOutQuad",
            duration: 100,
            delay: (el, i) => 150 * (i+1)
          }).add({
            targets: '.ml3',
            opacity: 0,
            duration: 100,
            easing: "easeOutExpo",
            delay: 100
          });
      </script>
    </body>
    
</html>
